dependency-reduced-pom.xml
data
.DS_Store
build
*.iml
.idea
.gradle
out
generated
target
src/gradlew
src/gradlew.bat
gradle/gradlew
gradle/gradlew.bat
gradle/gradle
src/gradle
.classpath
.project
.settings
